package.json
package-lock.json
lerna.json
node_modules
miniprogram
**/build/**/*.js
**/dist/**/*.js
**/public/**/*.js
**/esm/**/*.js
**/cjs/**/*.js
**/umd/**/*.js
**/*.d.ts
**/tests/**/*.js
project.config.json
**/index.json
schema-admin.json
schema-shop.json